@CHARSET "EUC-KR";
body {
	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
	background: #fff;
	border: 1px solid black;
	min-width: 990px;
}

.wrap {
	margin: auto;
	width: 990px;
	border: 1px solid black;
}
ul {
	list-style: none;
}
.play{
	margin: 10px; 10px;
}

.play2{
	
}
.album{
	margin: 10px; 10px;
}
.album_art{
	margin: 10px; 10px;
}
.order{
	margin: 10px; 10px;
}
.like{
	margin: 10px; 10px;
}
.select{
	margin: 10px; 10px;
}
.select2{

}
.col{
	display: inline-block;
}