@CHARSET "EUC-KR";
body {
	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
	background: #fff;
	text-align: center;
	border: 1px solid black;
	min-width: 960px;
}
section {
	padding-left: 5px;
	padding-right: 5px;
}

ul {
	list-style: none;
}
ul li {
	float: left;
	margin: 0 10px;
}

.container {
	
}
.row {
	
}
.col {
	display: inline-block;
}


.logo {
	margin: 10px 10px;
}
.login {
	margin: 10px 10px;
}
.search {
	margin: 10px 10px;
}
.menu {
	margin: 10px 10px;

}
.newAlbum {
	margin: 10px 10px;

}
.album {
	margin: 10px 10px;
}
.chart {
	margin: 10px 10px;

}
.ad1 {
	margin: 10px 10px;
}
.ad2 {
	margin: 10px 10px;
}
.video {
	margin: 10px 10px;

}
.ad3 {
	padding: 10px 10px;
}
.contents1 {
	padding: 10px 10px;

}
.contents2 {
	padding: 10px 10px;

}
.contents3 {
	padding: 10px 10px;

}
.company {
	padding: 10px 10px;
}

#header {

}
#navbar {

}
#section1 {

}
#section2 {

}
#section3 {

}
#section4 {

}
#footer {

}