@CHARSET "EUC-KR";
body {
	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
	background: #fff;
	border: 1px solid black;
	min-width: 990px;
}

.wrap {
	margin: auto;
	width: 990px;
	border: 1px solid black;
}

nav {
	margin-bottom: 10px;
	border: 0px solid black;
}

ul {
	list-style: none;
}	
.logo {
	margin: 10px 10px;
}
.login {
	margin: 10px 10px;
}
.search {
	margin: 10px 10px;
}
.menu ul li {
	float: left;
	margin: 10px; 10px;
}
.chart{
	float: left;
	margin: 10px; 10px;
}
.chartimage{
	margin: 10px; 10px;
}
.listen{
	margin: 10px; 10px;
}
.list{
	margin: 10px; 10px;
}
.ranking{
	margin: 10px; 10px;
}
.col{
	display: inline-block;
	magin: 0px 0px;
}	